* {
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    color-scheme: light;
    --body-background-color: #ffff;
    --main-background-color: #ffff;
    --header-background-color: #ffff;
    --border-color: rgba(92, 121, 177, .1);
}

:root.dark {
    color-scheme: dark;
    --body-background-color: rgba(18, 18, 20, 1);
    --header-background-color: rgb(43 43 43);;
    --main-background-color: rgba(255, 255, 255, 0.08);
    --border-color: #ffffff10;
}

:root > body {
    background-color: var(--body-background-color);
}

:root, body {
    min-width: 320px;
}

body {
    margin: 0;
    padding: 0;
}

.page-header {
    background-color: var(--header-background-color);
    border-bottom: 1px solid var(--border-color);
    padding: 8px 0;
}

.page-header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

#theme-changer {
    padding: 8px 12px;
    font-weight: 600;
    border-radius: 8px;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.5em;
}

pre {
    line-height: 1.8rem;
}
